<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CBGA Analytics Center</title>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer mdl-color--blue-800 mdl-color-text--blue-grey-50">
    <span class="mdl-layout-title">CBGA Analytics</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/outlook">Percentage budget expenditure</a>
      <a class="mdl-navigation__link" href="/trend">Scheme time trend</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>
  </main>
</div>


</body>
</html>